*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%; 
    background-color: black;
}
nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(8, 8, 77);
}
nav img{
    height: 100px; 
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    padding: 10px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;

}

nav ul li a::after{
    content: "";
    height: 3px;
    background-color: crimson;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s ease-in-out;


}
nav ul li a:hover::after{
      width: 100%;

}

.icons{
       height:70px; width: 20%;
       width: 20%;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       font-size: 30px;

}


.icons a:nth-child(1){
    color: blue;
}
.icons a:nth-child(2){
    color: purple;
}
.icons a:nth-child(3){
    color: rgb(9, 110, 9);
}



/* Hero Section*/



.typing{
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    width: 0;
    animation: typing 8s steps(30) infinite;

}
.typing span::before{
    color: crimson;
    content: "I am Frontend Developer";
    animation: changeText 8s infinite;
}

@keyframes typing{
0% {width: 0}
20% {width: 27ch}
40% {width: 27ch}
50% {width: 0}
60% {width: 0;}
80% {width: 26ch}
100% {width: 26ch}
}

@keyframes changeText{
    0%,50%{
        content: "I am Frontend Developer";

    }
    51%,100%{
        content: "I am Backend Developer";
    }
}

.hero-container{
    width: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}


.profile-outer{
    height: 500px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid blue;
}
.profile img{
    height: 100%; width: 100%;
    border-radius: 50%;
}

.info-outer{
          height: 500px; width: 50%;
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

}
.info-outer h1{
    font-size: 3rem;
}

.info-outer p{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-align: center;
}

/*about*/
#about{
    padding: 20px;
}
#about h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
}

#about hr{
    height: 5px;
    width: 60%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}


.about-text{
    margin: 30px auto;
    width: 80%;
    color: white;
    text-align: justify;
}

.about-text p{
    margin-top: 15px;
    font-size: 22px;

}

.about-text span{
    font-weight: bold;
    color: crimson;
}

.about-text ul{
    color: crimson;
    font-weight: bold;
    display: flex;
    gap:35px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.2rem;
}

/*skills area*/

#skills h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
}

#skills hr{
    height: 5px;
    width: 60%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}


.skills-outer{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(221, 214, 214);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
}


.skills-box{
    height: 200px;
    background: linear-gradient(160deg, rgb(2, 2, 69), pink), red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-box img{
    height: 100%; width: 100%;
    object-fit: contain;
}
.skills-box:hover{
    transform: translatey(-7px);
}



/*sevicess area*/

#service{
    padding: 20px;
    text-align: center;
}
#service h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
}

#service hr{
    height: 5px;
    width: 60%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}


.myservice-outer{
    width: 80%;
    margin: 0 auto;
    background-color: black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
}


.myservice-box{
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}


.myservice-box h1{
    color: white;
    font-size: 30px;
}

.myservice-box h2{
    color: white;
    font-size: 25px;
    color: crimson;
}

.myservice-box p{
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    /* margin-top: 10px; */
}




.myservice-box:hover{
    transform: translatey(-7px);
     background: linear-gradient(rgb(107, 89, 89),brown);
}



/*letest area*/


#Latest h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
}

#Latest hr{
    height: 5px;
    width: 60%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}


.Latest-outer{
    width: 80%;
    margin: 0 auto;
    background-color: black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
}


.Latest-box{
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Latest-box img{
    height: 100%; width: 100%;
    object-fit: contain;
}


/*contact area*/


#contact{
    padding: 20px;
     width: 100%;
    background-color: black;
}

#contact h1{
    color: crimson;
    text-align: center;
    font-size: 3rem;
}


#contact hr{
    height: 5px;
    width: 60%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.contact-outer{
    display: flex;
}

.contact-text{
    width: 50%;
    padding: 20px;
    
}

.contact-text h2{
    font-size: 20px;
    color: crimson;
    font-weight: bold;
    font-size: 50px;
    margin-left: 40%;
    margin-top: 20px;
    
}

.contact-text p{
    color: white;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-left: 100px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.3;

    
}

.contact-text span{
    display: flex;
    flex-direction: column;
    margin-top: 12px;

}
.contact-text span a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    margin-top: 10px;
    margin-left: 100px;
    align-items: center;
}

.contact-text span a i{
    font-size: 20px;
    color: white;
    margin-right: 15px;

}



/* form area*/


#form-outer{
    width: 50%;
    background-color:black;
    margin-top: 50px;


}

#form-outer form{
    margin-top: 20px;


}

.form span{
    color: white;
    font-size: 25px;
     letter-spacing: 0.5px;
    margin-top: 20px;
    margin-left: 80px;
    text-align: justify;
    line-height: 2.5;

}

.form input{
    height: 30px; width: 300px;
    border: none;
    background-color: rgb(193, 184, 184);
    margin-left: 80px;
}

.form textarea{
    height: 150px; width: 300px;
    border: none;
    background-color: rgb(193, 184, 184);
    margin-left: 80px;
   
}


.form button{
    height: 40px; width: 120px;
    background-color: brown;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 180px;
}


#footer{
   padding: 20px;
     width: 100%;
    background-color: rgba(23, 23, 132, 0.479);
}

.footer-outer{
     display: flex;
 
    
}

.right p{
    color: white;
    font-size: 18px;
    margin-left: 20px;
}

.saumya{
    width: 50%; 
    margin-left: 30px;
    
}

.saumya-text span{
    color: white;
    font-size: 20px;
    margin-left: 300px;
}




